<main>
    <h1>Qu'es-ce que l'accéssibilitée ?</h1>
    <ul class="table-of-content">
      <sup>Dans cet article, je vais vous faire découvrir ce que sont :</sup>
      <li><a href="/faq/accessibilité#tous">Le web accéssible à tous</a></li>
      <li><a href="/faq/accessibilité#tools">Les outils d'accessibilité</a></li>
      <li><a href="/faq/accessibilité#bpa">Les bonne pratiques en matière d'accessibilité</a></li>
    </ul>
    <section id="tous"></section>
    <section id="tools"></section>
    <section id="bpa"></section>
</main>

