<main>
  <h1>Qu'es-ce que l'accéssibilitée ?</h1>
  <ul class="table-of-content">
    <sup>Dans cet article, je vais vous faire découvrir ce que sont :</sup>
    <li><a href="/faq/accessibilité#tous">Le web accéssible à tous</a></li>
    <li><a href="/faq/accessibilité#tools">Les outils d'accessibilité</a></li>
    <li>
      <a href="/faq/accessibilité#bpa"
        >Les bonne pratiques en matière d'accessibilité</a
      >
    </li>
  </ul>
  <section id="tous">
    <h2>Une fenêtre sur le monde</h2>
    <p>
      L'accessibilité c'est le fait de rendre utilisable un service pour toute
      catégorie de personnes. <br />
      Prenons l'exemple d'un escalier, pour en faire fluidifier la circulation
      dans les grand magasins, Jesse W. Reno à inventer en 1891 l'escalator.
      <br />
      Cet exemple simple montre comment un systéme qui avait initialement une
      vidée commerciale bénéficie aujourdhui à des personnes ayant des problème
      de mobilité. Inversement la réglementation impose asujourd'hui de garantir
      un accès facile aux services publiques pour les personnes circulant en
      fauteils roulants. <br />
      Ces aménagements profite au final aussi aux parents avec une pousette, aux
      livreurs, <del>aux skateurs</del> (non c'est pas bien).
    </p>
    <p>
      Internet est sans conteste le media qui à permis d'abolir les frontière de
      l'information. <br />
      L'accès en tous lieux et à tous moments de contenu provenant du monde
      entier à été une veritable révolution pour les personnes isolée
      géographiquement ou physiquemnet. <br />
      Les personnes atteintent de défitiences visuelle ou motrice ont elles
      aussi la possibilité de profiter des services qu'offre internet. <br />
      Le principe de l'accessibilité nous encourage à concevoir des sites qui
      leur facilite la tâche, ce qui optimise aussi leur utilisation pour le
      grand publiques.
    </p>
  </section>
  <section id="tools">
    <h2>Les outils d'accessibilité</h2>
    
  </section>
  <section id="bpa"></section>
</main>
