@use "./colors" as *;
.slideFromLeft{
  animation: slideFromLeft 1s forwards;
}
.slideFromRight{
  animation: slideFromRight 1s forwards;
}
.invalid{
  color: map-get($other-colors, custom-orange );
  font-size: 1.5rem;
  animation: shaked 100ms 3;
}
.disabled{
  filter: grayscale(1);
  cursor:not-allowed;
}
.turn{
  animation: rotateNfade 500ms 6 alternate-reverse linear;
}

//      ***     KEYFRAMES     ***
@keyframes background-animator {
  from {
    transform: scale(1.25);
  }
  35% {
    transform: scale(1.5) translateY(-2%);
  }
  55% {
    transform: scale(2) translateY(-7%);
  }

  70% {
    transform: scale(1.5) translateY(-10%);
  }
  to {
    transform: scale(1.25);
  }
}
//animations de la fusée:
@keyframes fire {
  from {
    transform: scale(0.5, 0.5);
  }
  20% {
    transform: scale(0.25, 1);
  }
  40% {
    transform: scale(0.5, 1.5);
  }
  60% {
    transform: scale(0.75, 1);
  }
  80% {
    transform: scale(0.5, 2.5);
  }
  to {
    transform: scale(0.5, 0.5);
  }
}
@keyframes takeOff {
  from {
    transform: scale(1, 1);
    opacity: 1;
  }
  5% {
    transform: scale(1.2, 0.8) translateY(20px);
    opacity: 1;
  }
  98% {
    transform: scale(0.7, 1, 3) translateY(-90vh);
    opacity: 1;
  }
  to {
    transform: scale(1, 1) translateY(-120vh);
    opacity: 0;
  }
}
@keyframes clickMe {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}
//animations sur elements
@keyframes rotateNfade {
  from {
    transform: rotateY(90deg);
    opacity: 0;
  }
  60% {
    transform: rotateY(45deg);
    opacity: 1;
  }
  to {
    transform: rotateY();
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  70%{
    transform: translateX(20%)
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  70%{
    transform: translateX(-20%)
  }
  to {
    transform: translateX(0);
  }
}
@keyframes maskPagesOpening {
  from {
    transform: scale(0, 0.8);
  }
  to {
    transform: scale(0.9, 1.5);
  }
}
@keyframes rotate {
  from {
    transform: rotate();
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes shaked {
  from{transform: rotate(0) translateX(0);}
  50%{transform: rotate(5deg) translateX(1rem);}
  to{transform: rotate(-5deg) translateX(-1rem);}
}
@keyframes letterInjection {
  from{
    opacity: 0;
    transform: translate(500%,400%) scale(6);
  }
  50%{
    opacity: 0.25;
    transform: translate(400%,250%) scale(6);
  }
  80%{
    opacity: 0.75;
    transform: translate(20%,0%) scale(1);
  }
to{
  opacity: 1;
  transform: translate(0,0);
}
}