button {
  font-size: 1.5rem;
  border-radius: 15px;
  border-top: #092145;
  border-left: #011028;
  padding: 0.5rem;
  transition: all 150ms;
  cursor: pointer;
  &:hover {
    transform: scale(0.95);
    box-shadow: grey -1px -1px;
  }
}
.space-button {
  background: radial-gradient(
    circle at left,
    #092145 0,
    #3632f1 57.81%,
    #011028 100%
  );
  color: white;
  border-radius: 10px;
  &-disabled {
    filter: grayscale(1);
    cursor: not-allowed;
  }
}
