$primary-color: white;
$secondary-color: aqua;
$bg-section: (
  dark: black,
  light: rgba(102, 102, 102, 0.95),
  bleu:rgb(7, 1, 36)
);
@mixin dark-mask {
  background-color: map-get($bg-section, dark);
  opacity: 60%;
}
@mixin light-mask {
  background-color: map-get($bg-section, light);
  border: double 3px black;
  }
  @mixin blue-mask {
  background-color: map-get($bg-section,bleu);
  opacity: 40%;
  }

#space-background {
  z-index: -100;
  position: fixed;
  min-width: 100%;
  width: fit-content;
  min-height: 100%;
  height: auto;
  background-image: url("../../assets/images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  @include tablet-only{background-image: url("../../assets/images/background-mobile.webp");}
  @include tablet-only{background-image: url("../../assets/images/background-tablet.webp");}
  animation: background-animator ease-in-out 60s both infinite alternate;
}
