@use './breakpoints' as * ;
html,
body {
  height: 100dvh;
  background-color: black;
  background-image: linear-gradient(27deg, #4158D0 0%, #2c2939 16%, #292424 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body {
  margin: 0;
  font-family: Oxygen, sans-serif;
  color: white;
  font-size: 2rem;
  @include mobile-only{ font-size: 1rem;}
}
header{
  position: relative;
  z-index: 2;
}
main{
  position: relative;
  z-index: 1;
  padding: 90px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
section{
  width: -webkit-fill-available;
}
h1{
  font-size: 4rem;
  margin: 2rem;
  @include mobile-only{ font-size: 2.5rem;}
}
h2{
  font-size: 3rem;
  @include mobile-only{ font-size: 2rem;}
}
h3{
  font-size: 2.5rem;
  @include mobile-only{ font-size: 1.5rem;}
}
li{
  list-style: none;
}
a {
  text-decoration: none;
  color: aqua;
}

