@keyframes background-animator {
  from {
    transform: translateX(0);
  }
  35% {
    // transform-origin: center;
    transform: scale(1.25) translateY(-2%);
  }
  55% {
    // transform-origin: center;
    transform: scale(1.75) translateY(-7%);
  }

  70% {
    // transform-origin: center;
    transform: scale(1.5) translateY(-10%);
  }
  to {
    transform: scale(1.25) translateY(-3%);
  }
}
//animations de la fusée:
@keyframes fire {
  from {
    transform: scale(0.5, 0.5);
  }
  20% {
    transform: scale(0.25, 1);
  }
  40% {
    transform: scale(0.5, 1.5);
  }
  60% {
    transform: scale(0.75, 1);
  }
  80% {
    transform: scale(0.5, 2.5);
  }
  to {
    transform: scale(0.5, 0.5);
  }
}
@keyframes takeOff {
  from {
    transform:  scale(1, 1);
  }
  5%{
    transform: scale(1.2, 0.98) translateY(-3px);
  }
  98% {
    transform: scale(1, 1,2) translateY(350px);
  }
  to {
    transform: scale(3, 0) translateY(350px);
  }
}
@keyframes clickMe {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}
//animations sur elements
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  from {
    transform: translateX(-1000%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideFromRight {
  from {
    transform: translateX(1000%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes maskPagesOpening {
  from {
    transform: scale(0, 0.8);
  }
  to {
    transform: scale(0.9, 1.5);
  }
}
