@use "./colors" as *;
@use "./breakpoints" as *;
.messages {
  font-family: Galactic-Font;
  font-weight: 100;
  color: aqua;
  font-size: 1rem;
  transition: 500ms;
}
.hidden {
  transform: scaleX(0);
}
.info {
  // @include light-mask;
  font-style: italic;
}
.invalid{
  color: map-get($other-colors, custom-orange );
  font-size: 1.5rem;
  animation: shaked 100ms 3;
}
.disabled{
  filter: grayscale(1);
  cursor:not-allowed;
}
.section-separator {
  border: solid white 2px;
  width: 100%;
  margin: 3rem;
}
.card {
  background-color: black;
  border-radius: 10px;
  border: solid white 2px;
  box-shadow: aqua 5px 5px 20px;
}
.summary {
  // @include light-mask;
  border-radius: 20px;
  padding: 3rem;
  li {
    list-style: square;
    padding: 0.5rem;
  }
}
.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile-only {
    transform: scale(0.8);
    flex-direction: column;
  }
  img {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
    max-width: 50%;
  }
}
//      **************    FULL-CALENDAR   **************
:root {
  --fc-today-bg-color: darkmagenta;
  --fc-highlight-color: darkslateblue;
}
.fc-day-sat,
.fc-day-sun {
  filter: grayscale(1);
}
/* Fixer la largeur et la hauteur du calendrier */
.fc {
  width: 90%; /* Largeur maximale du calendrier */
  height: 80vh; /* Hauteur fixe du calendrier */
  margin: 0 auto; /* Centrer le calendrier horizontalement */
  /* Réduire la taille de la police du titre du mois dans la toolbar */
  .fc-toolbar {
    display: block;
    text-align: center;
    &-title {
      font-size: 1.5rem; /* Taille de la police réduite pour le titre du mois */
    }
  }
}
/* Réduire la taille de la police des titres des événements */
.fc-event-title {
  font-size: 1rem; /* Taille de la police réduite */
  white-space: nowrap; /* Empêcher le retour à la ligne pour les titres longs */
  overflow: hidden; /* Masquer le débordement des titres trop longs */
  text-overflow: ellipsis; /* Afficher des points de suspension pour les titres trop longs */
}

/* Optionnel : Ajuster la taille des cellules pour s'adapter à la hauteur du calendrier */
.fc-daygrid-day .fc-daygrid-body tr {
  height: 2rem; /* Hauteur fixe pour chaque ligne de jours */
}
