@use './colors' as *;
.messages {
  font-family: Galactic-Font;
  font-weight: 100;
  color: aqua;
  font-size: 1rem;
  margin: 0;
}
.table-of-content {
  // @include light-mask;
  border-radius: 20px;
  padding: 2rem;
  li {
    list-style: inside;
    padding: 0.5rem;
  }
}
.summary {
  // @include light-mask;
  padding: 2rem;
  li {
    list-style: square;
    margin: 0.5rem;
  }
}
.info {
  // @include light-mask;
  font-style: italic;
}
.card {
  background-color: black;
  border-radius: 10px;
  border: solid white 2px;
  box-shadow: aqua 5px 5px 20px;
  display: flex;
  &-creusard {
    width: fit-content;
    background-color: #ffd740;
  }
  &-wul {
    width: fit-content;
    background-color: white;
  }
}
