@font-face {
  font-family: Oxygen;
  font-weight: 400;
  src: url("../../assets/fonts/Oxygen/Oxygen-Regular.ttf");
}

@font-face {
  font-family: Oxygen;
  font-weight: 700;
  src: url("../../assets/fonts/Oxygen/Oxygen-Bold.ttf");
}
@font-face {
  font-family: Galactic-Font;
  src: url("../../assets/fonts/lilliput-steps/Lilliput\ Steps.otf");
}
