main {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    text-align: center;
  }
}
ul {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  .step {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
fieldset {
  display: flex;
  font-size: small;
  flex-direction: column;
  width: 70%;
  border-radius: 10px;
  position: relative;
  button {
    position: absolute;
    bottom: -15px;
    &.preview {
      left: -15px;;
    }
    &.next {
      right: -15px;;
    }
  }
  input,
  textarea,
  select {
    background-color: rgb(31, 29, 29);
    color: white;
    margin: 0.25rem;
    font-size: smaller;
    text-overflow: ellipsis;
    width: 100%;
  }
  input {
    text-align: center;
    max-width: 45px;
  }
}
