@keyframes rotateNfade {
  from{transform:rotateY(90deg); opacity:0}
  60%{transform:rotateY(45deg);opacity:1}
  to{transform:rotateY();opacity:1}

}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    text-align: center;
    animation: rotateNfade 0.5s 2s  linear reverse forwards;
    position: relative;
  }
  nav{
    position: absolute;
    top: 55px;
    width: 100%;
    animation: rotateNfade 0.5s 2.2s linear both;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
  }

}
ul {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  .step {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;;
    }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
fieldset {
  display: flex;
  font-size: x-small;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  p.sel-wrapper {
    display: flex;
    align-items: center;
    justify-content:space-between
  }
  p.radio-wrapper{
    display: flex;
    align-items: center;
  }
  button {
    position: absolute;
    bottom: -25px;
    font-size: xx-small;
    &.preview {
      left: -15px;
    }
    &.next {
      right: -15px;
    }
  }
  input,
  textarea,
  select {
    background-color: rgb(31, 29, 29);
    color: white;
    margin: 0.25rem;
    font-size: smaller;
    text-overflow: ellipsis;
    width: 100%;
  }
  input {
    text-align: right;
    max-width: 33px;
  }
  a{
    color: darkmagenta;
  }
}
app-result{
  display: flex;
  flex-direction: column;
  align-items: center;
}