  main {
    position: fixed;
    bottom: 25%;
    display: flex;
    flex-direction: column;
    h1{
      margin-left: 2rem
    }
    li {
      list-style-type: none;
      text-align: left;
    }
  }
  nav {
    position: fixed;
    margin: 3rem;
    height: 60%;
    display: flex;
    flex-direction: column;
    h2 {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      // @include mobile-only {
      //   font-size: 5rem;
      // }
      svg {
        fill: white;
        height: 2rem;
        width: 2rem;
      }
    }
    ul {
      height: 75%;
    }
  }
  #menu {
    top: 0;
    right: 0;
    align-items: flex-end;
  }
  #sectionMenuBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    fill: white;
    font-size: 0.5rem;
    cursor: pointer;
  }
  #faq {
    bottom: 0;
    left: 0;
    align-items: flex-end;
  }
  #faqBtn {
    position: fixed;
    bottom: 0;
    right: 20px;
    font-size: 0.5rem;
    cursor: pointer;
  }
  .reducer{
    margin-top: 1rem;
    font-size: x-small;
  }
  app-sim-btn{
    position: fixed;
    bottom: 15%;
    &.left{  left: 50%;}
    &.right{  right: 50%;}
  
  }