@import "../../../../scss/partials/breakpoints";
main {
  position: fixed;
  bottom: 25%;
  left: 0%;
  @include mobile-only {
   position: absolute;
    margin: 0;
    padding-top: 140px;
  }
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  li {
    list-style-type: none;
    text-align: left;
    padding: 0;
  }
}
nav {
  position: fixed;
  margin: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0;
    svg {
      fill: white;
      height: 2rem;
      width: 2rem;
    }
  }
}
#menu {
  top: 0;
  right: 0;
  align-items: flex-end;

}
#sectionMenuBtn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  fill: white;
  font-size: 0.75rem;
  cursor: pointer;
  @include mobile-only {
    top: 1rem;
    right: 1rem;
  }
}
#faq {
  bottom: 0;
  left: 0;
  align-items: flex-end;
  margin: 0;
}
#faqBtn {
  z-index: 10;
  position: fixed;
  bottom: 0;
  right: 0.75rem;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  svg {
    fill: white;
    height: 2rem;
    width: 2rem;
    @include mobile-only {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
.reducer {
  margin-top: 1rem;
  &:hover {
    box-shadow: aqua 0px 0px 10px;
  }
}
app-sim-btn {
  position: fixed;
  bottom: 15%;
  &.left {
    left: 50%;
  }
  &.right {
    right: 50%;
  }
  @include mobile-only {
    position: absolute;
}
}
