<main>
    <h1>Combien coûte un site internet en 2023</h1>
    <ul class="table-of-content">
      <sup>Dans cet article, je vais vous expliquer :</sup>
      <li><a href="/faq/coût#steps">Les étapes de creation d'un site </a></li>
      <li><a href="/faq/coût#presta">Les prestataire présents sur le marché</a></li>
      <li><a href="/faq/coût#hebergement">Les contrats d'hebergement</a></li>
    </ul>
    <section id="steps"></section>
    <section id="presta"></section>
    <section id="hebergement"></section>
</main>

