<main>
    <h1>Prestations Back-End</h1>
    <app-message-displayer [messageInput]="messageToDisplay"></app-message-displayer>
    <ul class="summary card">
        <li><a href="back#spring">Production d'API REST avec Spring Boot</a></li>
        <li><a href="back#BDD">Montage et connexion de bases de données SQL ou NoSQL</a></li>
        <li><a href="back#OAuth">Gestion des authentifications utilisateurs à l'aide d'OAuth2</a></li>
    </ul>
    <section id="spring">
        <h2 class="section-title" viewportEntrance="slideFromLeft">La constellation <img
                src="../../../assets/images/spring_icon.webp" alt="logo de Spring">
        </h2>
        <ul class="card tools-list">
            <li>
                <p>Création d'API stateless avec Spring Boot.</p><img src="../../../assets/images/springBoot_logo.webp"
                    alt="">
            </li>
            <li><img src="../../../assets/images/spring_security_logo.webp" alt="">
                <p>Protection de vos données avec Spring Security.</p>
            </li>
            <li>
                <p>Connexion à vos bases de données avec Spring Data JPA.</p><img
                    src="../../../assets/images/spring_data_jpa_logo.webp" alt="">
            </li>
        </ul>
        <blockquote class="info">Spring c'est la garantie d'exploiter au mieux la robustesse et la performance de Java.
            La stabilitée du framework a fait ses preuves au fil des années, si bien qu'aujourd'hui, Spring détient 48 %
            des parts
            de marché parmi les frameworks Java d'entreprise et est utilisé par 60% des développeurs Java.</blockquote>
    </section>
    <hr class="section-separator">
    <section id="BDD">
        <h2 class="section-title" viewportEntrance="slideFromRight">Le monde des bases de données <img src="../../../assets/images/dbb_icon.webp" alt=""></h2>
        <ul class="card summary">
            <li>Installation et configuration de bases de données MySQL pour des projets nécessitant une cohérence
                transactionnelle infaillible.</li>
            <li>Installation et configuration de bases de données MongoDb local ou connexion au service cloud Atlas pour
                des données disponibles à tout instant.</li>
        </ul>
        <div class="card">
            <h2 class="section-title">La base de données selon <img src="../../../assets/images/mongo_icon.webp"
                    alt="logo de MongoDB">
            </h2>
            <p>Les bases de données Mongo se démarquent des bases de données relationnelles par leur architecture en
                documents.</p>
            <p>Cela offre des gains de performances en évitant par exemple les chargements de données volumineux, comme
                dans les cas de requêtes n+1 sur des bases de données SQL.</p>
            <p>Asynchrone, Mongo est une base de données idéale dans le contexte d'applications réactives exigeant une
                disponibilité permanente des données.</p>
        </div>
        <hr class="section-separator">
        <div class="card">
            <h2 class="section-title">
                <img src="../../../assets/images/hibernate_icon.webp" alt="logo d'Hibernate">
                Le couteau suisse JEE
            </h2>
            <p>Le module Spring Data JPA s'appuie sur Hibernate pour préparer des requêtes performantes, standardisées
                et
                gérer automatiquement le déroulement des transactions avec les bases de données (SQL ou NoSQL).
            </p>
            <blockquote class="message">Par exemple, en utilisant l'annotation &#64;Projection(), on réduit
                considérablement le nombre et la taille des transactions avec une base de données SQL.</blockquote>
        </div>
    </section>
    <hr class="section-separator">
    <section id="OAuth2">
        <h2 class="section-title" viewportEntrance="slideFromLeft">Authentification avec OIDC</h2>
        <ul class="card tools-list">
            <li>
                <p>Connection et authentification de vos utilisateurs via des services OAuth2 tiers (Google, Microsoft,
                    Facebook...).</p>
            </li>
            <li>
                <p>Création et cryptage de token d'authentification pour le confort de l'utilisateur</p>
            </li>
            <li>
                <p>Installation de votre propre service d'authentification </p> <img
                    src="../../../assets/images/keycloak_icon.webp" alt="logo Keycloak">
            </li>
        </ul>
    </section>
    <hr class="section-separator">
    <p>
        Vous avez un projet web en vue ? Ou vous voulez juste échanger sur les thèmes abordés sur cette page ? Je
        serais ravi d'en discuter.</p>

    <button class="space-button" routerLink="/contact">Me contacter</button>
</main>