@import "../../../../scss/partials/breakpoints";

#logo-wrapper {
  position: fixed;
  width: min-content;
  top: 0;
  left: 0;
  transition: all 1s;
  cursor: pointer;
  @include tablet-only {
    transform: scale(0.75) translate(-20%, -15%);
  }
  @include mobile-only {
    transform: scale(0.5) translate(-50%, -25%);
  }
  position: fixed;
  width: min-content;
  top: 0;
  left: 0;
  transition: all 1s;
  cursor: pointer;
}

#logo {
  margin: 2rem;
  position: relative;
  width: 300px;
}
#header-rocket {
  position: fixed;
  transform: rotate(33deg);
  top: 10px;
  left: 377px;
  #rocket-core {
    right: 3px;
    position: absolute;
    z-index: -10;
    width: 30px;
  }
  #flamme {
    z-index: -100;
    position: absolute;
    top: 44px;
    right: 10px;
    transform-origin: top;
    animation: fire linear 200ms both infinite alternate;
  }
}
#go-top {
  z-index: 10;
  position: fixed;
  width: 40px;
  height: auto;
  bottom: 72px;
  right: 5px;
  animation: clickMe ease-in 400ms both infinite alternate;
  transition: all 0.5s;
  #rocket {
    position: absolute;
    width: 35px;
    top: 0;
  }
  #fire {
    z-index: -10;
    position: absolute;
    bottom: -70px;
    left: 10.5px;
    animation: fire linear 800ms both infinite alternate;
  }
}
.hide {
  opacity: 0;
  transform: scale(0);
}
.reveal {
  opacity: 1;
}
.take-off {
  // animation: takeOff ease-in 400ms backwards;
  animation: fire linear 800ms both infinite alternate;
}
