<a (click)="retourAccueil()" id="logo-wrapper" [ngClass]="{'hide' :hideHeader(), 'reveal': !hideHeader(), 'loading': isLoading()}">
    <img
      id="logo"
      src="assets/images/logo-Clickonaute.svg"
      alt="clickonaute.fr"
      aria-describedby="logo clickonaute.fr avec fusée au décolage"
    />
    <div id="header-rocket">
      <img id="rocket-core" src="assets/images/rocket.svg" alt="fusée" />
      <img
        id="flamme"
        src="assets/images/flamme.svg"
        alt="flamme de la fusée"
      />
    </div>
</a>
<div
  id="go-top"
  (click)="onTheTop()"
  [ngClass]="hideHeader() ? 'reveal' : 'hide'"
  [class.take-off]="takeOff()"
>
  <img id="rocket" src="assets/images/rocket.svg" alt="fusée" />
  <img
    id="fire"
    src="assets/images/flamme.svg"
    alt="flamme de la fusée"
  />
</div>
