<a (click)="retourAccueil()"
  ><div id="logo-wrapper" [ngClass]="(hideHeader$ | async) ? 'hide' : 'reveal'">
    <img
      id="logo"
      src="../../../../assets/images/logo_blanc_sansFlamme.webp"
      alt="clickonaute.fr"
      aria-describedby="logo clickonaute.fr avec fusée au décolage"
    />
    <img
      id="flamme"
      src="../../../../assets/images/flamme.webp"
      alt="flamme de la fusée"
    />
  </div>
</a>
<div
  id="go-top"
  (click)="onTheTop()"
  [ngClass]="(hideHeader$ | async) ? 'reveal' : 'hide'"
  [class.take-off]="takeOff$ | async"
>
  <img id="rocket" src="../../../../assets/images/rocket.webp" alt="fusée" />
  <img id="fire" src="../../../../assets/images/flamme.webp" alt="flamme de la fusée" />
</div>
