#logo-wrapper {
  position: fixed;
  width: min-content;
  top: 0;
  left: 0;
  transition: all 1s;
}
#logo {
  cursor: pointer;
  position: relative;
}
#flamme {
  z-index: -10;
  position: absolute;
  top: 34%;
  left: 169px;
  animation: fire linear 200ms both infinite alternate;
  transform-origin: top;
}
#go-top{
  position: fixed;
  background-image: url("../../../../assets/images/rocket.jpg");
  width: 40px;
  height: auto;
  bottom: 10px;
  right: 5px;
}
.hide{
 opacity: 0;
}
.reveal{
  opacity: 1;
}