<main>
  <h1>Tout sur les cookies</h1>
  <ul class="table-of-content">
    <sup>Dans cet article, je vais vous expliquer ce que sont</sup>
    <li><a href="/faq/cookies#talk">les cookies de fonctionalité</a></li>
    <li><a href="/faq/cookies#targeting">les cookies de ciblage</a></li>
    <li><a href="/faq/cookies#audits">les cookies d'audience</a></li>
  </ul>
  <h2></h2>
  <h3>Votre navigateur écoute !</h3>
  <p>
    Les images de ce site et le texte que vous lisez actuellement sont stockés
    sur un appareil quelque part sur terre.<br />
    Votre navigateur* récupère ces informations et les traduit sur votre écran
    mais il peut faire bien plus pour vous faciliter la vie.
    <sub>*FireFox,Chrome,Opera,Edge,Safari...</sub>
  </p>
  <h3 id="talk">Votre navigateur parle !</h3>
  <ul>
    En effet, votre navigateur peut diffuser des informations provenant de votre
    appareil telles que:
    <li>la date et l'heure : {{ date$ | async }}</li>
    <li>votre langue préférée: {{ informations.language }}</li>
    <li>
      Ou encore quel systéme d'exploitation vous utilisez :
      {{ informations.platform }}
    </li>
  </ul>
  <p>
    Mais il peut également obtenir des informations jugées plus sensibles comme
    votre localisation. <br />
    Dans ce cas, il vous demandera votre autorisation. Faites l'essai, cliquez
    sur le bouton ci-dessous:
  </p>
  <button (click)="askPosition()">cliquez puis autorisez</button>
  <ul *ngIf="showPostion$ | async">
    Selon votre navigateur vous vous trouvez à
    <li>{{ position.longitude }} de longitude</li>
    <li>{{ position.latitude }} de latitude</li>
    <li *ngIf="showDirection$ | async">
      et vous vous déplacez à {{ position.speed }} métres/secondes à
      {{ position.heading }} degrés par rapport au nord.
    </li>
  </ul>

  <form textSaver="ngForm" (ngSubmit)="saveMyData()">
    <p>
      Comme vous l'avez compris, votre navigateur peut émettre et recevoir des
      données venant de votre appareil ou d'un serveur de page web mais aussi
      recevoir des informations de votre part. <br />
    </p>
    <label for="data"
      >Par exemple, faites l'essai, écrivez le plus beau poême de votre vie dans
      le champs ci dessous</label
    >
    <sup class="messages" *ngIf="savedCookie">
      Magnifique mon poême à été sauvegardé !
    </sup>
    <textarea [(ngModel)]="myText" name="myText" id="data" cols="40" rows="5">{{
      myText
    }}</textarea>
    <p>
      A présent, que ce passe t-il si vous quittez la page ou que
      l'actualisez ? <br />
      Et oui, le navigateur efface toutes données reçues, que ce soit par votre
      appareil, l'appareil distant qui fourni cette page web ou émise par vous même !
      <br />
      Un beau poême comme celui ci merite d'être sauvegardé, heureusement
      votre navigateur dispose d'une mémoire de stockage dans laquelle il peut
      sauvegarder des données.
    </p>
    <button type="submit">Sauvegarder mon texte dans un cookie</button>
  </form>
  <button (click)="reloadPage()">recharger la page</button>
  <button (click)="deleteCookie()">effacer le cookie</button>
  <ul>
    En resumé, un navigateur:
    <li>
      reçoit des informations d'appareils distants, de l'appareil sur lequel il
      s'execute ou venant de l'utilisateur
    </li>
    <li>
      peut stocker ces informations dans des cookies en vue de les réutiliser
    </li>
  </ul>
  <h2 id="targeting">Les cookies de ciblage</h2>
  <p>
    Comme nous l'avons vu préccedemment les cookies sont très utiles à
    l'utilisateur. C'est ce qui permet à l'utilisateur de conserver une liste
    d'articles dans un panier sur un site marchand, un identifiant pour se
    connecter à un compte ou encore une copie cryptée de son mot de passe sans
    avoir à tout réécrire à chaque connexion. <br />
    Merci les cookies !
  </p>
  <h3>Du contenu personalisé</h3>
  <p>
    Certains sites internet vous proposent également de stocker dans votre
    navigateur des informations personnelles afin de vous proposer du contenu
    adapté à votre âge, vos centres d'intêrets ou encore votre localité. <br />
    
    <cite>
      <hr>
      Bien pratique tout ça mais ces informations peuvent elles être revendu à
      des tiers ?</cite
    ><br />
    Oui, ces informations pourraient être revendues ou mise à disposition de
    partenaires en vue d'un ciblage marketing, cependant dans ce cas,
    <a href="https://www.cnil.fr/fr/la-loi-informatique-et-libertes#article82"
      >la loi informatique et liberté
    </a>
    impose le consentement explicite de l'utilisateur, sans quoi le propriétaire
    du site s'exposerait à
    <a
      href="https://www.cnil.fr/fr/cookies-sanction-de-60-millions-deuros-lencontre-de-microsoft-ireland-operations-limited"
      >une amende</a
    >
    pouvant atteindre plusieurs milliers d'euros ! <br />
    On ne rigole pas avec les données personnelles !
  </p>
  <h2 id="audits">Les cookies d'audience, comme à la télé</h2>
  <p>
    <em
      ><b>Le saviez vous ?</b> pour mesurer l'audience d'une chaine, les
      instituts de médiametrie insèrent une marque – un tatouage - inaudible
      dans le flux audio émis par les chaînes de télévision ; cette marque porte
      un identifiant unique propre à chaque chaîne ainsi que l’heure et la date
      de diffusion du programme émis en direct ou regardé en Replay.
    </em>
    Comme pour la télévision, connaitre l'audience d'un site, voir même d'une
    partie spécifique d'un site internet est essentiel à son optimisation.
    <a href="/faq/cookies#talk"></a> Comme expliqué préccedemment
  </p>
</main>
