<!-- masques d'arrière-plans -->
<div id="mask-container" class={{selectedSection()}}>
  <svg [attr.width]="svgWidth" [attr.height]="svgHeight">
    <radialGradient id="radialGradientStroke" [attr.cx]="middleGradient()+ '%'" [attr.cy]="middleGradient()+'%'"
      [attr.r:]="middleGradient() +'%'" [attr.fx]="middleGradient()+'%'" [attr.fy]="middleGradient()+'%'"
      class="radialGradientStroke-{{selectedSection()}}">
      <stop [attr.offset]="middleGradient()-50 +'%'"/>
      <stop [attr.offset]="middleGradient()+'%'"/>
      <stop [attr.offset]="middleGradient()+50 +'%'"/>
    </radialGradient>
    <path class="mask" [attr.d]= maskHeaderCoor class={{selectedSection()}}/>
    <path *ngIf="(selectedSection() !== 'pages')" class="mask" [ngClass]="{'mask-menu' : (selectedSection() === 'menu')}" [attr.d]= maskMenuCoor/>
    <path *ngIf="(selectedSection() !== 'pages')" class="mask" [ngClass]="{'mask-faq' : (selectedSection() === 'faq')}" [attr.d]= maskFaqCoor/>
    <path *ngIf="(selectedSection() === 'pages')" class="mask" [ngClass]="{'mask-pages' : (selectedSection() === 'pages')}" [attr.d]= maskPagesCoor/>
  </svg>
</div>