<!-- masques d'arrière-plans -->
<div id="mask-container">
<!-- <div
  *ngIf="(selectedSection$ | async) === 'accueil'"
  class="mask mask-accueil"
></div>
<div
*ngIf="(selectedSection$ | async) !== 'pages'"
  class="mask"
  [ngClass]="
    (selectedSection$ | async) === 'menu' ? 'mask-menu-opened' : 'mask-menu'
  "
></div> -->
<svg [attr.width]="svgWidth" [attr.height]="svgHeight">
  <polygon class="mask2 mask-header2" points="00,00 00,250 550,0" />
  <polygon class="mask2 mask-menu2" points="500,00 00,250 0,0" />
  <polygon class="mask2 mask-faq2" points="00,92% 90%,0 100%,100%" />
   <polygon class="mask2 mask-faq2" points="00,92% 90%,0 100%,100%" />
</svg>
<!-- 
<div
*ngIf="(selectedSection$ | async) !== 'pages'"
  class="mask"
  [ngClass]="
    (selectedSection$ | async) === 'faq' ? 'mask-faq-opened' : 'mask-faq'
  "
></div>
<div
  *ngIf="(selectedSection$ | async) === 'pages'"
  class="mask mask-pages"
></div> -->
</div>