.card {
  border: solid white 2px;
  border-radius: 20px;
  li > a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  svg {
    height: 2rem;
    fill: aqua;
  }
}
form{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem;
  width: 90%;
  align-items: center;
  textarea, input{
    color: aqua;
    font-family: Galactic-Font;
    background: none;
    margin: 1rem;
  }
  button{
    max-width:20rem;
  }
}