<main>
    <h1>Qu'es ce que le référencement naturel (ou SEO) ?</h1>
    <ul class="table-of-content">
      <sup>Dans cet article, je vais vous expliquer ce que sont</sup>
      <li><a href="/faq/seo#motor">les moteurs de recherche</a></li>
      <li><a href="/faq/seo#seo">les systémes de référencement</a></li>
      <li><a href="/faq/seo#optmization">les optimisations de referencement naturel</a></li>
    </ul>
    <section id="motor"></section>
    <section id="seo"></section>
    <section id="optmization"></section>
</main>
