
.msg-wrapper{
    width: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation:slideFromRight 0.5s both;
    transition: 300ms ease-in;
    .closer{        
        cursor: pointer;
        border-radius: 50%;
        border: gray ridge 2px;
        width: 1.5rem;
        height: 1.5rem;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 3rem;
        top:0;
        color: gray;        
        font-size: 1rem;
        &:hover{
            color: aqua;
        }
    }
}