<main>
    <h1>D'une passion un metier</h1>
    <app-message-displayer [messageInput]="messageToDisplay"></app-message-displayer>
    <section class="card">
        <p class="info">
            Depuis tout petit, construire, dessiner et créer sont pour moi des moyens d’expression et de stimulation
            importants. <br>
            Aujourd’hui le développement est un terrain de jeu qui me permet de satisfaire ces besoins. <br>
            Il me donne aussi la satisfaction d’apporter une réponse concrète aux besoins de mes clients. J’aime devoir
            renouveler mes connaissances, creuser pour trouver des solutions et avoir des projets variés pour étancher
            ma curiosité. <br>

            J'adore concevoir des fonctionnalités esthétiques qui sortent de l’ordinaire !
        </p>
        <p>Je suis toujours motivé à l'idée de travailler sur des projets en équipe, particulièrement dans des
            environnements où la méthode Scrum est utilisée. <br>
            Travailler de manière agile et collaborative me permet de
            maximiser ma contribution et de participer activement à la réussite des projets.
        </p>
    </section>
    <section>
        <h2>Parcours de vie</h2>
        <p></p>
    </section>
    <!-- <ul class="summary card">
        <li><a href="front#angular">Développement d'applications SOLID avec Angular</a></li>
        <li><a href="front#css">Intégration de composants UI-friendly</a></li>
        <li><a href="front#SEO">Des sites plus accessibles et mieux référencés</a></li>
    </ul>
    <section id="angular">
        <h2 class="section-title" viewportEntrance="slideFromRight">L'univers <img src="../../../assets/images/angular_icon.webp"
                alt="logo d'Angular">
        </h2>
        <ul class="summary card">
            <li>Création de Single Page Apps performantes.</li>
            <li>Applications réactives et validations précises de formulaires.</li>
            <li>Connexion sécurisée à vos API et manipulation de flux de données efficace.</li>
            <li>Implémentation du state management avec NgRx.</li>
            <li>Mise en place de guards pour protéger vos routes.</li>
        </ul>

    </section>
    <hr class="section-separator">
    <section id="css">
        <h2 class="section-title" viewportEntrance="slideFromLeft">La galaxie UI</h2>
        <ul class="card tools-list">
            <li><img src="../../../assets/images/material_icon.webp" alt="logo de Material" viewportEntrance="turn">
                <p>
                    Intégration des composants Material et personalisation de ceux-ci dans vos projets web.
                </p>
            </li>
            <li>
                <p>Création de composants réutilisables et d'animations poussées grâce à CSS3.</p><img
                    src="../../../assets/images/css3.webp" alt="logo css3" viewportEntrance="turn">
            </li>
            <li><img src="../../../assets/images/svg_icon.webp" alt="icon SVG" viewportEntrance="turn">
                Implémentation de balises svg pour un contrôle réactif de toutes les formes et couleurs imaginables.</li>
        </ul>
    </section>
    <hr class="section-separator">
    <section id="SEO">
        <h2 class="section-title" viewportEntrance="slideFromRight">L'hyperpropulsion de vos sites</h2>

        <ul class="summary card">
            <li>Vos sites passent à la vitesse lumière via l'optimisation de vos ressources graphiques (redimensionnement,
                conversion en WebP...)</li>
            <li>Amélioration du SEO grâce au respect des balises sémantiques et à l'utilisation d'Angular Universal pour générer des pages
                statiques.</li>
            <li>Du contenu accessible dans le respect des standards du <a
                    href="https://www.w3.org/WAI/WCAG22/quickref/?versions=2.0" alt="lien vers le référentiel WCAG">
                    WCAG 2.0</a>.</li>
        </ul>
    </section> -->
    <hr class="section-separator">
    <button class="space-button" routerLink="/contact">Contactez moi</button>
    <blockquote class="info">
        Un projet web en vue ? Ou simplement envie d'échanger sur les thèmes abordés sur cette page ? Je
        serais ravi d'en discuter.</blockquote>

</main>