<main>
    <h1>D'une passion un métier</h1>
    <app-message-displayer [messageInput]="messageToDisplay"></app-message-displayer>
    
    <section class="timeline">
        <div class="card">
            <h2 viewportEntrance="slideFromRight">Parcours de vie</h2>
                <p>Dans mes débuts professionnels j'ai monté ma propre boîte de nettoyage. Une expérience formatrice qui m'a appris à :</p>
                <ul class="summary">
                    <li>Gérer une entreprise de A à Z</li>
                    <li>Communiquer efficacement avec les clients</li>
                    <li>Jongler entre missions techniques et administratives</li>
                </ul>
        </div>

        <div >
            <h2 viewportEntrance="slideFromLeft">Rénovation & Réalisation</h2>
            <div class="content">
                <p>En 2019, l'achat d'une maison à rénover m'a permis de :</p>
                <ul class="summary">
                    <li>Développer mes compétences en bricolage</li>
                    <li>Travailler avec des professionnels passionnés</li>
                    <li>Apprendre que tout s'apprend avec de la volonté</li>
                </ul>
            </div>
        </div>
    </section>

        <section viewportEntrance="slideFromRight">
            <h2 >Un nouveau cap vers le web</h2>
            <div class="card">
                <p>En 2021, j'ai décidé de transformer ma passion pour l'informatique en métier :</p>
                <ul class="summary">
                    <li>Installateur de matériels et réseaux</li>
                    <li>Développeur web diplômé d'OpenClassrooms</li>
                    <li>Spécialisation dans le développement pour les professionnels</li>
                </ul>
                <a href="https://clickonaute.fr/assets/titre-a-finalite-professionnelle_OpenClassrooms_Pierre_Etrillard_20221230-2.pdf" 
                   target="_blank">
                    Voir mon diplôme
                </a>
            </div>
    </section>
    <hr class="section-separator">
    <section class="card">
        <h2 viewportEntrance="slideFromLeft">Pourquoi le Web ?</h2>
        <p>Le développement web est pour moi le terrain de jeu idéal pour exploiter :</p>
        <ul>
            <li>Mon goût pour la manipulation des flux de données</li>
            <li>Mon sens du service client</li>
            <li>Ma créativité</li>
        </ul>
    </section>

    <section class="cta-section">
        <blockquote>
            Un projet web en vue ? Ou simplement envie d'échanger sur les thèmes abordés sur cette page ? Je
            serais ravi d'en discuter.
        </blockquote>
        <button class="space-button" routerLink="/contact">Contactez-moi</button>
    </section>
</main>