<main>
    <h1>Compétences FrontEnd</h1>
    <ul class="summary">
<li><a href="#angular">Des applications robuste</a></li>
<li><a href="#css">Des composants UI frindly</a></li>
<li><a href="#SEO">Des site plus accessibles et mieux referencés</a></li>
    </ul>
    <section id="angular">
        <blockquote class="info">Je conçoit des applications web en javascript et Angular est mon framework de prédilection, je vous explique pourquoi</blockquote>
        <h2 class="section-title">Pourquoi <img src="../../../assets/images/angular_icon.webp" alt="logo d'angular"> ?</h2>
        <p>J'ai choisi Angular pour la solidité de l'équipe qui maintient le framework, la structure modulaire facilitant la maintenance et la construction de projets de toutes envergure</p>
        <p>Certain développeur boudent Angular car le framework impose un workflow plus lourd et plus restrictif que d'autres framework, de mon point de vue même si la prise en main est plus longues, cette architecture unifiée garantie à toutes les équipes de développeur de s'y retrouver rapidement lorsqu'elle travaillent sur des projet tiers</p>
        <p>Enfin, en s'appuyant sur RXJS, TypeScript et Sass, Angular facilite grandement la construction d'application réactives robustes et performantes</p>
    </section>
</main>
