<main>
    <h1>Prestations Front-End</h1>
    <app-message-displayer [messageInput]="messageToDisplay"></app-message-displayer>
    <ul class="summary card">
        <li><a href="front#angular">Développement d'applications SOLID avec Angular</a></li>
        <li><a href="front#css">Intégration de composants UI-friendly</a></li>
        <li><a href="front#SEO">Des sites plus accessibles et mieux référencés</a></li>
    </ul>
    <section id="angular">
        <h2 class="section-title" viewportEntrance="slideFromRight">L'univers <img src="../../../assets/images/angular_icon.webp"
                alt="logo d'Angular">
        </h2>
        <ul class="summary card">
            <li>Création de Single Page Apps performantes.</li>
            <li>Applications réactives et validations précises de formulaires.</li>
            <li>Connexion sécurisée à vos API et manipulation de flux de données efficace.</li>
            <li>Implémentation du state management avec NgRx.</li>
            <li>Mise en place de guards pour protéger vos routes.</li>
        </ul>
        <!-- <blockquote class="info">Spécialisé en Angular je vous pro.</blockquote>
        <p>Choisir Angular pour la solidité de l'équipe qui maintient le framework, sa structure modulaire
            facilitant la maintenance et la construction de projets de toutes envergures.</p>
        <p>Certains développeurs boudent Angular car le framework impose un workflow plus lourd et plus restrictif que
            d'autres frameworks. De mon point de vue, même si la prise en main est plus longue, cette architecture
            unifiée garantit à toutes les équipes de développeurs de s'y retrouver rapidement lorsqu'elles travaillent sur
            des projets tiers.</p>
        <p>Enfin, en s'appuyant sur RXJS, TypeScript et Sass, Angular facilite grandement la construction d'applications
            réactives, robustes et performantes.</p> -->
    </section>
    <hr class="section-separator">
    <section id="css">
        <h2 class="section-title" viewportEntrance="slideFromLeft">La galaxie UI</h2>
        <ul class="card tools-list">
            <li><img src="../../../assets/images/material_icon.webp" alt="logo de Material" viewportEntrance="turn">
                <p>
                    Intégration des composants Material et personnalisation de ceux-ci dans vos projets web.
                </p>
            </li>
            <li>
                <p>Création de composants réutilisables et d'animations poussées grâce à CSS3.</p><img
                    src="../../../assets/images/css3.webp" alt="logo css3" viewportEntrance="turn">
            </li>
            <li><img src="../../../assets/images/svg_icon.webp" alt="icon SVG" viewportEntrance="turn">
                Implémentation de balises svg pour un contrôle réactif de toutes les formes et couleurs imaginables.</li>
        </ul>
    </section>
    <hr class="section-separator">
    <section id="SEO">
        <h2 class="section-title" viewportEntrance="slideFromRight">L'hyperpropulsion de vos sites</h2>

        <ul class="summary card">
            <li>Vos sites passent à la vitesse lumière via l'optimisation de vos ressources graphiques (redimensionnement,
                conversion en WebP...)</li>
            <li>Amélioration du SEO grâce au respect des balises sémantiques et à l'utilisation d'Angular Universal pour générer des pages
                statiques.</li>
            <li>Du contenu accessible dans le respect des standards du <a
                    href="https://www.w3.org/WAI/WCAG22/quickref/?versions=2.0" alt="lien vers le référentiel WCAG">
                    WCAG 2.0</a>.</li>
        </ul>
    </section>
    <hr class="section-separator">
    <button class="space-button" routerLink="/contact">Contactez-moi</button>
    <blockquote>
        Un projet web en vue ? Ou simplement envie d'échanger sur les thèmes abordés sur cette page ? Je
        serais ravi d'en discuter.</blockquote>

</main>