<main>
    <h1>Compétences FrontEnd</h1>
    <ul class="summary card">
        <li><a href="front#angular">Des applications robustes</a></li>
        <li><a href="front#CSS">Des composants UI friendly</a></li>
        <li><a href="front#SEO">Des sites plus accessibles et mieux referencés</a></li>
    </ul>
    <section id="angular">
        <blockquote class="info">Je conçoit des applications web en javascript. Angular est mon framework de
            prédilection, je vous explique pourquoi</blockquote>
        <h2 class="section-title">Pourquoi <img src="../../../assets/images/angular_icon.webp" alt="logo d'angular"> ?
        </h2>
        <p>J'ai choisi Angular pour la solidité de l'équipe qui maintient le framework, la structure modulaire
            facilitant la maintenance et la construction de projets de toutes envergures.</p>
        <p>Certains développeurs boudent Angular car le framework impose un workflow plus lourd et plus restrictif que
            d'autres framework, de mon point de vue même si la prise en main est plus longues, cette architecture
            unifiée garantie à toutes les équipes de développeur de s'y retrouver rapidement lorsqu'elle travaillent sur
            des projet tiers</p>
        <p>Enfin, en s'appuyant sur RXJS, TypeScript et Sass, Angular facilite grandement la construction d'application
            réactives robustes et performantes</p>
    </section>
    <hr class="section-separator">
    <section id="css">
        <blockquote class="info">Je peux créer des composants from scratch et des animations css poussées ce qui est un
            gain de performance par rapport à l'utilisation
            de js pour injecter du style mais je m'appuie aussi sur les composants Material pour les raisons suivantes:
        </blockquote>
        <h2 class="section-title"><img src="../../../assets/images/material_icon.webp" alt="logo de material">L'UX/UI
            selon Material
        </h2>
        <p>Les composant Material garantissent une haute qualité UX/UI et ils sont aisement utilisable dans un
            projet Angular</p>
        <p>Les composants Material sont aussi faciles à personaliser et s'appuient sur le theme du projet ce qui offre
            une grande cohérence graphique à toute l'application.</p>
        <p>De plus les composant Material-Angular son réactifs et responsive.</p>
        <div class="card">
            <h3>J'utilise aussi des balises <img src="../../../assets/images/svg_icon.webp" alt="icon svg"></h3>
            <p>Les images vectoriels ont l'avantage d'offrir à moyen frais des resultat nets, insensibles au
                redimensionement ainsi que la possibilité de créer des contenaires de toutes
                les formes imaginables...
            </p>
            <p>De plus elle ont le bon gôut d'êtres codées en xml ce qui permet leur manipulation dans le DOM de maniére
                réactive !</p>
        </div>
    </section>
    <hr class="section-separator">
    <section id="SEO">
        <h2 class="section-title">Optimisation de vos sites</h2>

        <ul class="summary card">
            <li>J'ameliore les performances de vos sites en retravaillant vos ressources graphiques (redimensionnemnent,
                conversion webp..)</li>
            <li>Grace à un respect des balises sémantiques, de l'utilisation d'Angular universal pour générer des pages
                statique (voir la page<a href="/back#ssr" alt="navigation vers la page backEnd"> prestations
                    back-end</a> ),
                j'ameliore le SEO de vos sites.</li>
            <li>L'accessibilité est une notion importantes, aussi je veille à appliquer les standart du <a
                    href="https://www.w3.org/WAI/WCAG22/quickref/?versions=2.0" alt="liens vers le référenciel WCAG">
                    WCAG2.0 </a>dans mes projets.</li>
        </ul>
    </section>
    <hr class="section-separator">
    <p>
        Vous avez un projet web en vue ? Ou vous voulez juste échanger sur les thèmes abordés sur cette page ? Je
        serais ravi d'en discuter.</p>

    <button class="space-btn" routerLink="/contact">Me contacter</button>
</main>