<main>
    <h1>Méthodes de production</h1>
    <app-message-displayer [messageInput]="messageToDisplay"></app-message-displayer>
<ul class="summary card">
    <li><a href="methods#git">Git</a></li>
    <li><a href="methods#DDD">Domain Driven Design</a></li>
    <li><a href="methods#scrum">Scrum</a></li>
</ul>
<section id="git">
    <h2 class="section-title" viewportEntrance="slideFromLeft">L'incoutournable <img src="../../../assets/images/logo_git.webp" alt="logo git"></h2>
    <blockquote >Git en ligne de commande c'est l'outil parfait pour garantir des suivis de projets maîtrisés.</blockquote>
    <p>Versionner un projet avec git c'est l'opportunité de répartir la charge de travail entre plusieurs équipes, tout en facilitant le debuggage et la revue de code.
    </p>
    
</section>
<hr class="section-separator">
    <section id="scrum">
        <h2 class="section-title" viewportEntrance="slideFromRight"><img src="../../../assets/images/logo_ddd.webp" alt="logo domain driven design"></h2>
<p>Véritable pont entre l'équipe de production et les utilisateurs finaux, le Domain Driven Design m'aide à traduire les notions et outils de travail des utilisateurs finaux en models de données compréhensible par les développeurs. C'est aussi la garantie de cibler au mieux les attentes de vos clients.</p>
    </section>
    <hr class="section-separator">
    <section id="scrum">
        <blockquote class="info"></blockquote>
        <h2 class="section-title" viewportEntrance="slideFromLeft">Soyons souples grâce à <img src="../../../assets/images/logo_scrum.webp" alt="logo scrumm">
        </h2>
        <h3>En conjonction d'un Kanban, j'aime travailler avec la méthode Scrum car pour vous c'est: </h3>
        <ul class="card summary">
            <li>Des budgets mieux maitrisés</li>
            <li>Des clients plus satisfaits</li>
            <li>Une équipe de dev plus motivée</li>
        </ul>
        <p>À chaque fin de sprint le client a l'occasion de donner son ressenti sur le projet évitant la perte de temps et la frustration qu'occasionne une livraison ne répondant pas à ses attentes.</p>
    </section>
    <hr class="section-separator">
    <button class="space-button" routerLink="/contact">Me contacter</button>
    <p>
        Vous avez un projet web en vue ? Ou vous voulez simplement échanger sur les thèmes abordés sur cette page ? Je
        serais ravi d'en discuter.</p>

</main>