<main>
    <h1>Méthodes de production</h1>
    <app-message-displayer [message]="messageToDisplay"></app-message-displayer>
<ul class="summary card">
    <li><a href="methods#git">Git</a></li>
    <li><a href="methods#DDD">Domain Driven Design</a></li>
    <li><a href="methods#scrum">Scrum</a></li>
</ul>
<section id="git">
    <blockquote class="info">git en ligne de commande est l'outil </blockquote>
    <h2 class="section-title">Pourquoi <img src="../../../assets/images/logo_git.webp" alt="logo git"> ?
    </h2>
    <p>Car les étapes de constructions d'un projet sont mieux controlés (une branch à chaque feature permet de séquencer le travaille et de mettre plusieurs équipes sur des aspets de l'application différents).
    </p>
    <p>Versionner un projet garantie maintenance et correction pllus simple du code.</p>
    <p>Suivie des erreurs et documentation du flux de production claire</p>
</section>
<hr class="section-separator">
    <section id="scrum">
        <h2 class="section-title"><img src="../../../assets/images/logo_ddd.webp" alt="logo domain driven design"></h2>
<p>le pont entre l'équipe de production et les utilisateurs finaux est facilité grace au Domain Driven Design.</p>
<p>Transformer des notions et outils de travaille du client en des objets clarifie les attentes des , des </p>
    </section>
    <hr class="section-separator">
    <section id="scrum">
        <blockquote class="info"></blockquote>
        <h2 class="section-title">Pourquoi <img src="../../../assets/images/logo_scrum.webp" alt="logo scrumm"> ?
        </h2>
        <p>Car utilisé en conjonction d'un Kanban, scrum facilite la collaboration des équipes pour des projets volumineux.</p>
        Le budjet est plus facilement maitrisé, les clients plus satisfait en les integrant dans le processus de production.
        <p>En effet, à chaques fin de sprint celui-ci à l'occasion de donner son ressenti sur le projet evitant la perte de temps et la frustration qu'occasione une livraison ne répondant pas à ses attentent.</p>
    </section>
    <hr class="section-separator">
    <p>
        Vous avez un projet web en vue ? Ou vous voulez simplement échanger sur les thèmes abordés sur cette page ? Je
        serais ravi d'en discuter.</p>

    <button class="space-button" routerLink="/contact">Me contacter</button>
</main>