button{
    border-radius:15px;
    padding: 0.75rem;
    transition: all 150ms;
    &:hover{
        transform: scale(0.95);
        box-shadow: grey -2px -2px;
        cursor: pointer;
        background: radial-gradient(circle at left,#3632F1  0,#092145  30%,#092145  75%, #3632F1 100%);
    }
}