<main>
  <h1>Création de sites internet</h1>
  <p class="info">
    Je construit des sites adapté à tous les écrans respectant les normes
    d'accessibilité, performant et codé de manière à optimiser votre
    référencement. <br />
    Mais comme une image vaut mille mots vous trouverez ci dessous deux exemples
    de sites construit sous ce principes
  </p>
  <a href="{{ creusardUrl }}" target="_blank">
    <h2>
      Creusard-Tp, un site de présentation simple pour être visible sur le net
    </h2>
    <div class="card card-creusard">
      <img
        src="../../../../assets/images/logo-creusard.svg"
        alt="liens vers le site de démonstration creusard-TP"
      /></div
  ></a>
  <a href="{{ creusardUrl }}" target="_blank">
    <h2>
      Wool-U-Like, un site de e-commerce pour développer votre activité en ligne</h2>
    <div class="card card-wul">
      <img
        src="../../../../assets/images/logo-wul.svg"
        alt="liens vers le site de e-commerce Wool You Like"
      /></div
  ></a>
</main>
