<div id="stars-container">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 1000" class="groupe1">
		<circle cx="435" cy="20" r="2" />
		<circle cx="30" cy="50" r="3" />
		<circle cx="915" cy="50" r="1" />
		<circle cx="100" cy="105" r="3" />
		<circle cx="700" cy="130" r="2" />
		<circle cx="890" cy="340" r="2" />
		<circle cx="335" cy="350" r="3" />
		<circle cx="50" cy="480" r="2" />
		<circle cx="555" cy="510" r="3" />
		<circle cx="999" cy="530" r="2" />
		<circle cx="870" cy="580" r="3" />
		<circle cx="605" cy="600" r="2" />
		<circle cx="935" cy="620" r="3" />
		<circle cx="650" cy="650" r="1" />
		<circle cx="145" cy="700" r="3" />
		<circle cx="315" cy="750" r="2" />
		<circle cx="790" cy="800" r="3" />
		<circle cx="975" cy="820" r="2" />
		<circle cx="12" cy="840" r="3" />
		<circle cx="595" cy="865" r="1" />
		<circle cx="375" cy="880" r="3" />
		<circle cx="630" cy="930" r="3" />
		<circle cx="955" cy="955" r="2" />
		<circle cx="575" cy="960" r="3" />
	</svg>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 1000" class="groupe2">
		<circle cx="190" cy="160" r="3" />
		<circle cx="355" cy="370" r="2" />
		<circle cx="815" cy="890" r="3" />
		<circle cx="55" cy="410" r="3" />
		<circle cx="840" cy="420" r="2" />
		<circle cx="465" cy="260" r="3" />
		<circle cx="195" cy="180" r="2" />
		<circle cx="250" cy="750" r="3" />
		<circle cx="970" cy="260" r="1" />
		<circle cx="290" cy="300" r="3" />
	</svg>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 1000" class="groupe3">
		<circle cx="12" cy="200" r="2" />
		<circle cx="30" cy="350" r="3" />
		<circle cx="50" cy="150" r="1" />
		<circle cx="100" cy="400" r="3" />
		<circle cx="195" cy="180" r="2" />
		<circle cx="250" cy="350" r="3" />
		<circle cx="270" cy="220" r="1" />
		<circle cx="290" cy="400" r="3" />
		<circle cx="315" cy="600" r="2" />
		<circle cx="335" cy="750" r="3" />
		<circle cx="355" cy="700" r="2" />
		<circle cx="375" cy="800" r="3" />
		<circle cx="405" cy="800" r="3" />
		<circle cx="435" cy="950" r="2" />
		<circle cx="465" cy="1300" r="3" />
		<circle cx="495" cy="1180" r="2" />
		<circle cx="555" cy="1350" r="3" />
		<circle cx="575" cy="1220" r="2" />
		<circle cx="595" cy="1400" r="3" />
	</svg>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 1000">
		<circle id="shootingStars1" cx="100" cy="200" r="2" fill="white" />
		<circle id="shootingStars2" cx="300" cy="350" r="3" fill="white" />
		<circle id="shootingStars3" cx="500" cy="150" r="2" fill="white" />
		<circle id="shootingStars4" cx="700" cy="400" r="3" fill="white" />
	</svg>
</div>