/* You can add global styles to this file, and also import other style files */
// CONSTANTES SCSS
@font-face {
  font-family: Oxygen;
  font-weight: 400;
  src: url("./assets/fonts/Oxygen/Oxygen-Regular.ttf");
}

@font-face {
  font-family: Oxygen;
  font-weight: 700;
  src: url("./assets/fonts/Oxygen/Oxygen-Bold.ttf");
}

@keyframes background-animator {
  from {
    transform: translateX(0);
  }
  35% {
    // transform-origin: center;
    transform: scale(1.25) translateY(-2%)
  }
    55% {
    // transform-origin: center;
    transform: scale(1.75) translateY(-7%)
  }
  
  70% {
    // transform-origin: center;
    transform: scale(1.5) translateY(-10%);
  }
  to {
    transform: scale(1.25) translateY(-3%);
  }
}
$breakpoints:(
  mobile:480px,
  tablet:960px,
  desktop:1260px);

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)){
      @content;
  }
}

//       Valeurs CSS GLOBAL
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Oxygen, sans-serif;
  color: white;
}
h1 {
  @include mobile-only{  font-size: 1.5rem;}
    font-size: 2rem;
}
h2 {
  @include mobile-only{  font-size: 0.5rem;}
    font-size: 1rem;
}
a {
  text-decoration: none;
  color: white;
}
li {
  font-weight: lighter;
  list-style-type: none;
}
.space-button{
  background: radial-gradient(circle at left, #092145 0, #3632F1 57.81%, #011028 100%);
  color:white;
  border-radius: 10px;
}
#space-background {
  z-index: -100;
  position: fixed;
  top: 0;
  min-width: 100%;
  width: fit-content;
  min-height: 100%;
  height: auto;

  background-image: url("./assets/images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: background-animator linear 60s both infinite alternate;
}