<main>
    <h1>Créer son site soi même ?</h1>
    <ul class="table-of-content">
      <sup>Dans cet article, je vais vous expliquer :</sup>
      <li><a href="/faq/diy#tools">Les outils de creation sans code </a></li>
      <li><a href="/faq/diy#cms">Les avantages et inconvenients des cms</a></li>
      <li><a href="/faq/diy#hebergement">Les contrats d'hebergement</a></li>
    </ul>
    <section id="tools"></section>
    <section id="cms"></section>
    <section id="hebergement"></section>
</main>
